# Copy to terraform.tfvars and adjust values
subscription_id            = "00000000-0000-0000-0000-000000000000"
location                   = "eastus"
prefix                     = "maester-" # Always include a dash if you want one in all names
environment                = "dev"
allow_list_ip              = ["1.2.3.4"]

tags = {
  owner = "platform-team"
}
